services:
  - type: web
    name: edaa
    runtime: docker
    dockerfilePath: ./Docker/Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_ANON_KEY
        sync: false
